:root {
    --font: 'Epilogue', sans-serif;
    --color-grey: #464b4f; 
    }
    
    * {
        padding: 0;
        margin: 0;
        border: 0;
        outline: none;
        box-sizing: border-box;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    body, html {
        min-height: 100%;
        width: 100%;
    }
    
    .clear::after, .clear::before {
        content: " ";
        display: table;
    }
    
    .clear::after {
        clear: both;
    }
    
    /* Main Styles */

    html {
        scroll-behavior: smooth;
    }

    body {
        font: 30px var(--font);
        color: var(--color-grey)
    }

    .header {
        height: 100%;
        background: url("../images/header.jpg") no-repeat top center;
        background-size: cover;
        padding-top: 1px;

    }

    .logo {
        height: 135px;
        width: 135px;
        margin: 60px auto;
        display: block;         
    }

    .slogan {
        text-transform: uppercase;
        color: #fff;
        font-size: 80px;
        font-weight: 700;
        text-align: center;
        margin-top: 210px;
    }

    .text {
        font-size: 18px;
        color: #fff;
        text-align: center;
        margin-top: 60px;
        font-weight: 400;
    }

    .link {
        color: #fff;
        margin-top: 190px;
        text-align: center;
    }

    #link {
        height: 45px;
        width: 45px;
        margin-bottom: 50px;
    }

    .header2 {
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        margin-top: 130px;
    }

    .body {
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        margin-top: 75px;
    }

    .foot {
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        margin-top: 135px;
    }

    .skills ul {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        margin-top: 110px;
        display: flex;
	    justify-content: space-between;
    }
    
    .f-list {
        font-size: 18px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        margin-bottom: 100px;

    }



   