:root {
    --font: 'Epilogue', sans-serif;
    --color-grey: #464b4f; 
    }
    
    * {
        padding: 0;
        margin: 0;
        border: 0;
        outline: none;
        box-sizing: border-box;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    body, html {
        min-height: 100%;
        width: 100%;
    }
    /* Main Styles */

    html {
        height: 100%;
        scroll-behavior: smooth;
    }

    body {
        height: 100%;
        min-width: 1000px;
        font-family: var(--font);
        color: var(--color-grey)
    }

    .header {
        background: url('../images/header.jpg') no-repeat top center;
        background-size: cover;
        min-height: 100vh;
        text-align: center;
        padding: 80px 0 50px;
        color: #fff;
        box-sizing: border-box;
    }

    .container {
        width: 950px;
        max-width: 950px;
        min-width: 360px;
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
        text-align: center;
    }

   

    .picture .logo {
        display: block;
        height: 135px;
        width: 135px;
        margin: 0 auto 180px;
        transition: all 1.5s;
    }

    .logo:hover {
        transform: rotate(360deg) scale(1.2);
    }

    .slogan {
        font-size: 80px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 60px;
    }

    .text {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 20vh;

    }

    .link {
        margin-bottom: 50px;
        transition: all .3s;
    }

    .link:hover {
        transform: scale(1.5);
    }

    .header2 {
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 130px auto 75px;
    }

    .body {
        font-size: 30px;
        font-weight: 300;
        line-height: 42px;
        margin-bottom: 125px;
    }

    .foot {
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 110px;
    }

    .flex-box {
        display: flex;
    }

    .skills {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .skills h2 {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 42px;
        margin-bottom: 30px;
    }

    .skills p {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: #888a8b;
        padding-right: 30px;
        margin-bottom: 95px;
    }